Repository pharmaverse/admiral, pull requests merged in 2022-08, with the labels that each got.

#1377 Closes #1202 update lb script
  inst/templates/ad_adeg.R
  inst/templates/ad_adlb.R
  inst/templates/ad_advs.R
Labels: ADLB, release 0.8.0 05-Sep-2022

#1144 977 redux
  NAMESPACE
  NEWS.md
  R/compute_framingham.R
  R/derive_param_framingham.R
  R/globals.R
  man/compute_bmi.Rd
  man/compute_bsa.Rd
  man/compute_framingham.Rd
  man/compute_map.Rd
  man/compute_qtc.Rd
  man/compute_qual_imputation.Rd
  man/compute_qual_imputation_dec.Rd
  man/compute_rr.Rd
  man/default_qtc_paramcd.Rd
  man/derive_param_bmi.Rd
  man/derive_param_bsa.Rd
  man/derive_param_computed.Rd
  man/derive_param_doseint.Rd
  man/derive_param_exist_flag.Rd
  man/derive_param_exposure.Rd
  man/derive_param_first_event.Rd
  man/derive_param_framingham.Rd
  man/derive_param_map.Rd
  man/derive_param_qtc.Rd
  man/derive_param_wbc_abs.Rd
  tests/testthat/test-compute_framingham.R
  tests/testthat/test-derive_param_framingham.R
Labels: programming, BDS

#1404 Build and publish docs only on main
  .github/workflows/common.yml
Labels: bug

#1397 1202 update lb script@devel
  data/atoxgr_criteria_ctcv4.rda
  docs/pkgdown.yml
  inst/adlb_grading/adlb_grading_spec.xlsx
  inst/templates/ad_adlb.R
  tests/testthat/test-derive_var_atoxgr.R
Labels: ADLB
